@import url(reset.css);

.red {
	color: red;
}
.orange {
	color: orange
}
.yellow {
	color: yellow
}
.green {
   color: green;
}
.blue {
   color: blue;
}
.indigo {
   color: indigo;
}
.violet {
   color: violet;
}
div.main_par {
	color: brown;
}
ul.list_hist {
	color: orange;
}
.reasons p {
	color: yellow;
}
h2,
h3,
h4 {
	color: red;
}
.middle > ul {
	color: rgb(221, 124, 27);
}
.color {
	color: green;
}
[class*="text"] {
   color: blue;
}
d {
	color: indigo;
}
.end > p {
   color: violet;
}
#html {
	color: aqua;
}
